<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Navigation</li>
    <!-- Optionally, you can add icons to the links -->
    <li><a href="~/home"><i class="fa fa-link"></i> <span>Home</span></a></li>
    <li><a href="~/Employee/Index"><i class="fa fa-link"></i> <span>Employee</span></a></li>
    <li><a href="~/Menu/Index"><i class="fa fa-link"></i> <span>Menu</span></a></li>
    <li><a href="~/Tables/Index"><i class="fa fa-link"></i> <span>Tables</span></a></li>
    <li><a href="~/ReferralBonusLogRecords"><i class="fa fa-link"></i> <span>-</span></a></li>
    <li><a href="~/ReferralBonusRates"><i class="fa fa-link"></i> <span>-</span></a></li>
    <li><a href="~/RegistrationPointRecords"><i class="fa fa-link"></i> <span>-</span></a></li>
    <li><a href="~/TransferLogRecords"><i class="fa fa-link"></i> <span>-</span></a></li>
    <li><a href="~/WalletPointRecords"><i class="fa fa-link"></i> <span>-</span></a></li>



    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Multilevel</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Link in level 2</a></li>
            <li><a href="#">Link in level 2</a></li>
        </ul>
    </li>
</ul>