
@{
    Layout = null;
}

<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Cafe</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Cafe" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/shop.css" media="all">

    <link rel="stylesheet" type="text/css" href="~/css/order.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/css/test.css" media="all">


    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>
<body>

    <div class="bigg">
        <div class="row">
            <div class="col">
                <div class="leftside">
                    <h2>Coffee</h2>
                    <table class="MenuBtn">
                        <tr>
                            <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="American Mocha">
                                    <input type="hidden" name="amount" value="10.50">
                                    <td><button type="submit" class="menu_button">American Mocha</button></td>
                                    <i class="fas fa-cart-plus"></i>

                                </form>
                            </div>
                            <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Charcoal">
                                    <input type="hidden" name="amount" value="12.00">
                                    <td><button type="submit" class="menu_button">Charcoal</button></td>
                                    <i class="fas fa-cart-plus"></i>
                                </form>
                            </div>
                        </tr>
                        <tr>
                            <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Latte">
                                    <input type="hidden" name="amount" value="11.30">
                                    <td><button type="submit" class="menu_button">Latte</button></td>
                                    <i class="fas fa-cart-plus"></i>

                                </form>
                            </div>
                            <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Cappucino">
                                    <input type="hidden" name="amount" value="15.00">
                                    <td><button type="submit" class="menu_button">Cappucino</button></td>
                                    <i class="fas fa-cart-plus"></i>

                                </form>
                            </div>
                        </tr>
                        <tr>
                            <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Royal">
                                    <input type="hidden" name="amount" value="14.00">
                                    <td><button type="submit" class="menu_button">Royal</button></td>
                                    <i class="fas fa-cart-plus"></i>

                                </form>
                            </div>

                        </tr>
                    </table>
                    </br>
                    <h2>Tea</h2>
                    <table class="MenuBtn">
                        <tr>
                            <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Earl Grey">
                                    <input type="hidden" name="amount" value="13.00">
                                    <td><button type="submit" class="menu_button">Earl Grey</button></td>
                                    <i class="fas fa-cart-plus"></i>

                                </form>
                            </div>
                            <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Jasmine Green">
                                    <input type="hidden" name="amount" value="14.00">
                                    <td><button type="submit" class="menu_button">Jasmine Green</button></td>
                                    <i class="fas fa-cart-plus"></i>
                                </form>
                            </div>
                        </tr>
                        <tr>
                            <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Matcha">
                                    <input type="hidden" name="amount" value="10.00">
                                    <td><button type="submit" class="menu_button">Matcha</button></td>
                                    <i class="fas fa-cart-plus"></i>

                                </form>
                            </div>
                            <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Lemon">
                                    <input type="hidden" name="amount" value="8.90">
                                    <td><button type="submit" class="menu_button">Lemon</button></td>
                                    <i class="fas fa-cart-plus"></i>

                                </form>
                            </div>

                        </tr>
                        <tr>
                            <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Chamomile">
                                    <input type="hidden" name="amount" value="13.20">
                                    <td><button type="submit" class="menu_button">Chamomile</button></td>
                                    <i class="fas fa-cart-plus"></i>
                                </form>
                            </div>
                            <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Rose">
                                    <input type="hidden" name="amount" value="11.00">
                                    <td><button type="submit" class="menu_button">Rose</button></td>
                                    <i class="fas fa-cart-plus"></i>

                                </form>
                            </div>

                        </tr>
                        <tr>
                            <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Black">
                                    <input type="hidden" name="amount" value="9.90">
                                    <td><button type="submit" class="menu_button">Black</button></td>
                                    <i class="fas fa-cart-plus"></i>

                                </form>
                            </div>

                        </tr>
                    </table>
                    </br>
                    <h2>Dessert</h2>
                    <table class="MenuBtn">
                        <tr>
                            <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Choco Waffle">
                                    <input type="hidden" name="amount" value="5.00">
                                    <td><button type="submit" class="menu_button">Choco Waffle</button></td>
                                    <i class="fas fa-cart-plus"></i>

                                </form>
                            </div>
                            <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Marbled Cake">
                                    <input type="hidden" name="amount" value="8.90">
                                    <td><button type="submit" class="menu_button">Marbled Cake</button></td>
                                    <i class="fas fa-cart-plus"></i>

                                </form>
                            </div>
                        </tr>
                        <tr>
                            <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Lemon Cheesecake">
                                    <input type="hidden" name="amount" value="12.50">
                                    <td><button type="submit" class="menu_button">Lemon Cheesecake</button></td>
                                    <i class="fas fa-cart-plus"></i>

                                </form>
                            </div>
                            <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Fudge Brownies">
                                    <input type="hidden" name="amount" value="9.90">
                                    <td><button type="submit" class="menu_button">Fudge Brownies</button></td>
                                    <i class="fas fa-cart-plus"></i>

                                </form>
                            </div>
                        </tr>
                        <tr>
                            <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Macaron">
                                    <input type="hidden" name="amount" value="20.00">
                                    <td><button type="submit" class="menu_button">Macaron</button></td>
                                    <i class="fas fa-cart-plus"></i>

                                </form>
                            </div> 
                        <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Muffin">
                                    <input type="hidden" name="amount" value="6.40">
                                    <td><button type="submit" class="menu_button">Muffin</button></td>
                                    <i class="fas fa-cart-plus"></i>

                                </form>
                            </div></tr>
                        <tr><div class="toys single-item hvr-outline-out">
                                 <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                     <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Blueberry Tart">
                                   <input type="hidden" name="amount" value="6.80">
                        <td><button type="submit" class="menu_button">Blueberry Tart</button></td>
                           <i class="fas fa-cart-plus"></i>

    </form>
</div> </tr>
                    </table>
                    </br>
                    <h2>Finger Sandwiches</h2>
                    <table class="MenuBtn">
                        <tr>
                            <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Egg Mayonaise">
                                    <input type="hidden" name="amount" value="4.80">
                                    <td><button type="submit" class="menu_button">Egg Mayonaise</button></td>
                                    <i class="fas fa-cart-plus"></i>

                                </form>
                            </div>        <div class="toys single-item hvr-outline-out">
    <form action="#" method="post">
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="add" value="1">
        <input type="hidden" name="toys_item" value="Ham Cheese">
        <input type="hidden" name="amount" value="6.20">
        <td><button type="submit" class="menu_button">Ham Cheese</button></td>
        <i class="fas fa-cart-plus"></i>

    </form>
</div>
                        </tr>
                        <tr>
                            <div class="toys single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="Tuna Salmon">
                                    <input type="hidden" name="amount" value="7.90">
                                    <td><button type="submit" class="menu_button">Tuna Salmon</button></td>
                                    <i class="fas fa-cart-plus"></i>

                                </form>
                            </div> </tr>
                    </table>
                </div>
            </div>


            <!--<div class="col">
                <div class="sidenav">
                    <div class="rightside">
                        <h3>Cart</h3>
                        <div class="checkout-right">

                            <table class="timetable_sub">
                                <thead>
                                    <tr>
                                        <th>Quantity</th>
                                        <th>Product Name</th>
                                        <th>Price</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="rem1">
                                        <td class="invert">
                                            <div class="quantity">
                                                <div class="quantity-select">
                                                    <div class="entry value-minus">&nbsp;</div>
                                                    <div class="entry value"><span>1</span></div>
                                                    <div class="entry value-plus active">&nbsp;</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="invert">Bella Toes<a href="single.html"></a></td>
                                        <td class="invert">$675.00</td>
                                        <td class="invert">
                                            <div class="rem">
                                                <div class="close1"> </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="rem2">
                                        <td class="invert">
                                            <div class="quantity">
                                                <div class="quantity-select">
                                                    <div class="entry value-minus">&nbsp;</div>
                                                    <div class="entry value"><span>1</span></div>
                                                    <div class="entry value-plus active">&nbsp;</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="invert">Bella Toes<a href="single.html"></a></td>
                                        <td class="invert">$675.00</td>
                                        <td class="invert">
                                            <div class="rem">
                                                <div class="close2"> </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="rem3">
                                        <td class="invert">
                                            <div class="quantity">
                                                <div class="quantity-select">
                                                    <div class="entry value-minus">&nbsp;</div>
                                                    <div class="entry value"><span>1</span></div>
                                                    <div class="entry value-plus active">&nbsp;</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="invert">Bella Toes<a href="single.html"></a></td>
                                        <td class="invert">$675.00</td>
                                        <td class="invert">
                                            <div class="rem">
                                                <div class="close3"> </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4>Order Details</h4>
                            <form action="payment.html" method="post" class="creditly-card-form agileinfo_form">
                                <label class="control-label">Table number:</label>
                                <input class="form-control" type="text" placeholder="Table number">
                                <button class="clearl">
                                    <a href="product.html">Clear</a>
                                </button>
                                <button class="clear">
                                    <a href="payment.html">Make a Payment </a>
                                </button>
                            </form>
                                </div>
                        
                        <div class="clearfix"> </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</body>
</html>

<script src="~/js/jquery-2.2.3.min.js"></script>

<script>
    $('.value-plus').on('click', function () {
        var divUpd = $(this).parent().find('.value'),
            newVal = parseInt(divUpd.text(), 10) + 1;
        divUpd.text(newVal);
    });

    $('.value-minus').on('click', function () {
        var divUpd = $(this).parent().find('.value'),
            newVal = parseInt(divUpd.text(), 10) - 1;
        if (newVal >= 1) divUpd.text(newVal);
    });
</script>

<script>
    $(document).ready(function (c) {
        $('.close1').on('click', function (c) {
            $('.rem1').fadeOut('slow', function (c) {
                $('.rem1').remove();
            });
        });
    });
</script>
<script>
    $(document).ready(function (c) {
        $('.close2').on('click', function (c) {
            $('.rem2').fadeOut('slow', function (c) {
                $('.rem2').remove();
            });
        });
    });
</script>
<script>
    $(document).ready(function (c) {
        $('.close3').on('click', function (c) {
            $('.rem3').fadeOut('slow', function (c) {
                $('.rem3').remove();
            });
        });
    });
</script>

<script src="~/js/minicart.js"></script>
<script>
    toys.render();

    toys.cart.on('toys_checkout', function (evt) {
        var items, len, i;

        if (this.subtotal() > 0) {
            items = this.items();

            for (i = 0, len = items.length; i < len; i++) { }
        }
    });
</script>
<!-- //cart-js -->
<!-- price range (top products) -->
<script src="~/js/jquery-ui.js"></script>
<script>
    //<![CDATA[
    $(window).load(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 9000,
            values: [50, 6000],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

    }); //]]>
</script>