
@{
   Layout=null;
}

<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>
<html lang="zxx">
   <head>
      <title>Cafe</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      <!--//meta tags ends here-->
      <!--booststrap-->
      <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
      <!--//booststrap end-->

      <!-- font-awesome icons -->
      <!-- //font-awesome icons -->
      <!--Shoping cart-->
       <!--//Shoping cart-->
      <!--price range-->
      <!--//price range-->
      <!--stylesheets-->
      <link rel="stylesheet" type="text/css" href="~/css/order.css" media="all">
      <link rel="stylesheet" type="text/css" href="~/css/test.css" media="all">

	 
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
      <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
   </head>
   <body>
  

<div class="row">
<div class="col">
<div class="leftside">
<h2>Coffee</h2>
<table class="MenuBtn">
	<tr>
		<td><button class="menu_button">American Mocha</button></td>
		<td><button class="menu_button">Charcoal</button></td>
	</tr>
	<tr>
		<td><button class="menu_button">Latte</button></td>
		<td><button class="menu_button">Cappuccino</button></td>
	</tr>
	<tr>
		<td><button class="menu_button">Royal</button></td>
	</tr>
</table>
</br>
<h2>Tea</h2>
<table class="MenuBtn">
	<tr>
		<td><button class="menu_button">Jasmine Green</button></td>
		<td><button class="menu_button">Earl Grey</button></td>
	</tr>
	<tr>
		<td><button class="menu_button">Matcha</button></td>
		<td><button class="menu_button">Lemon</button></td>
	</tr>
	<tr>
		<td><button class="menu_button">Chamomile</button></td>
		<td><button class="menu_button">Rose</button></td>
	</tr>
	<tr>
		<td><button class="menu_button">Black</button></td>
	</tr>
</table>
</br>
<h2>Dessert</h2>
<table class="MenuBtn">
	<tr>
		<td><button class="menu_button">Choco Waffle</button></td>
		<td><button class="menu_button">Macaron</button></td>
	</tr>
	<tr>
		<td><button class="menu_button">Marbled Cake</button></td>
		<td><button class="menu_button">Muffins</button></td>
	</tr>
	<tr>
		<td><button class="menu_button">Lemon Cheesecake</button></td>
		<td><button class="menu_button">Fudge Brownies</button></td>
	</tr>
	<tr>
		<td><button class="menu_button">Blueberry Tart</button></td>
	</tr>
</table>
</br>
<h2>Finger Sandwiches</h2>
<table class="MenuBtn">
	<tr>
		<td><button class="menu_button">Egg Mayonaise</button></td>
		<td><button class="menu_button">Ham Cheese</button></td>
	</tr>
	<tr>
		<td><button class="menu_button">Tuna Salmon</button></td>
	</tr>
</table>
</div>
</div>


<div class="col">
	<div class="sidenav">
	<div class="rightside">
                     <h3>Cart</h3>
                     <div class="checkout-right">
                       
                        <table class="timetable_sub">
                           <thead>
                              <tr>
                                 <th>SL No.</th>
                                 <th>Quantity</th>
                                 <th>Product Name</th>
                                 <th>Price</th>
                                 <th>Remove</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr class="rem1">
                                 <td class="invert">1</td>
                                 <td class="invert">
                                    <div class="quantity">
                                       <div class="quantity-select">
                                          <div class="entry value-minus">&nbsp;</div>
                                          <div class="entry value"><span>1</span></div>
                                          <div class="entry value-plus active">&nbsp;</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td class="invert">Bella Toes<a href="single.html"></a></td>
                                 <td class="invert">$675.00</td>
                                 <td class="invert">
                                    <div class="rem">
                                       <div class="close1"> </div>
                                    </div>
                                 </td>
                              </tr>
                              <tr class="rem2">
                                 <td class="invert">1</td>
                                 <td class="invert">
                                    <div class="quantity">
                                       <div class="quantity-select">
                                          <div class="entry value-minus">&nbsp;</div>
                                          <div class="entry value"><span>1</span></div>
                                          <div class="entry value-plus active">&nbsp;</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td class="invert">Bella Toes<a href="single.html"></a></td>
                                 <td class="invert">$675.00</td>
                                 <td class="invert">
                                    <div class="rem">
                                       <div class="close1"> </div>
                                    </div>
                                 </td>
                              </tr> 
							  <tr class="rem3">
                                 <td class="invert">1</td>
                                 <td class="invert">
                                    <div class="quantity">
                                       <div class="quantity-select">
                                          <div class="entry value-minus">&nbsp;</div>
                                          <div class="entry value"><span>1</span></div>
                                          <div class="entry value-plus active">&nbsp;</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td class="invert">Bella Toes<a href="single.html"></a></td>
                                 <td class="invert">$675.00</td>
                                 <td class="invert">
                                    <div class="rem">
                                       <div class="close1"> </div>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                           <h4>Order Details</h4>
                           <form action="payment.html" method="post" class="creditly-card-form agileinfo_form">
                                                <label class="control-label">Table number:</label>
                                                <input class="form-control" type="text" placeholder="Table number">
							<button class="clearl">
							<a href="product.html">Clear</a></button>
                           <button class="clear">
                           <a href="payment.html">Make a Payment </a>
                           </button> 
                    </div>
                           </form>
                        <div class="clearfix"> </div>
                        <div class="clearfix"></div>
	</div>
	</div>
</div>
</div>	
</body>
</html>
